<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Chapter 4</title>
<link rel="stylesheet" href="styles.css" type="text/css">
</head>

<body>
            <h3 class="innerUnderlined">Chapter 4</h3>
<blockquote class="quotation">
                <p>Here, invisible yet strong, was the taboo
of the old life. Round the squatting child was the protection of
parents and school and policemen and the law.</p>
<p align="right" class="attribution">(See <a href="quotes.html#CHDGFCHJ">Important Quotations Explained</a>)</p>
            </blockquote>

                <h4>Summary</h4>
<p>Life on the island soon develops a daily rhythm. Morning
is pleasant, with cool air and sweet smells, and the boys are able
to play happily. By afternoon, though, the sun becomes oppressively
hot, and some of the boys nap, although they are often troubled
by bizarre images that seem to flicker over the water. Piggy dismisses these
images as mirages caused by sunlight striking the water. Evening
brings cooler temperatures again, but darkness falls quickly, and
nighttime is frightening and difficult.</p>
<div class="floatingad"><script language="JavaScript"><!--
DisplayAds("Top,Right,x01,Middle,Middle2!Middle");
//--></script></div>
                <p>The littluns, who spend most of their days eating fruit
and playing with one another, are particularly troubled by visions
and bad dreams. They continue to talk about the &ldquo;beastie&rdquo; and fear
that a monster hunts in the darkness. The large amount of fruit
that they eat causes them to suffer from diarrhea and stomach ailments. Although
the littluns&rsquo; lives are largely separate from those of the older
boys, there are a few instances when the older boys torment the
littluns. One vicious boy named Roger joins another boy,
Maurice, in cruelly stomping on a sand castle the littluns have
built. Roger even throws stones at one of the boys, although he
does remain careful enough to avoid actually hitting the boy with
his stones.</p>
<p>Jack, obsessed with the idea of killing a pig, camouflages
his face with clay and charcoal and enters the jungle to hunt, accompanied by
several other boys. On the beach, Ralph and Piggy see a ship on the
horizon&mdash;but they also see that the signal fire has gone out. They hurry
to the top of the hill, but it is too late to rekindle the flame,
and the ship does not come for them. Ralph is furious with Jack,
because it was the hunters&rsquo; responsibility to see that the fire
was maintained.</p>
<p>Jack and the hunters return from the jungle, covered with
blood and chanting a bizarre song. They carry a dead pig
on a stake between them. Furious at the hunters&rsquo; irresponsibility,
Ralph accosts Jack about the signal fire. The hunters, having actually
managed to catch and kill a pig, are so excited and crazed with
bloodlust that they barely hear Ralph&rsquo;s complaints. When Piggy shrilly
complains about the hunters&rsquo; immaturity, Jack slaps him hard, breaking
one of the lenses of his glasses. Jack taunts
Piggy by mimicking his whining voice. Ralph and Jack have a heated
conversation. At last, Jack admits his responsibility in the failure
of the signal fire but never apologizes to Piggy. Ralph goes to
Piggy to use his glasses to light a fire, and at that moment, Jack&rsquo;s friendly
feelings toward Ralph change to resentment. The boys roast the pig,
and the hunters dance wildly around the fire, singing and reenacting
the savagery of the hunt. Ralph declares that he is calling a meeting
and stalks down the hill toward the beach alone.</p>
            

                <h4>Analysis</h4>
<p>At this point in the novel, the group of boys has lived
on the island for some time, and their society increasingly resembles
a political state. Although the issue of power and control is central
to the boys&rsquo; lives from the moment they elect a leader in the first
chapter, the dynamics of the society they form take time to develop.
By this chapter, the boys&rsquo; community mirrors a political society,
with the faceless and frightened littluns resembling the masses
of common people and the various older boys filling positions of
power and importance with regard to these underlings. Some of the
older boys, including Ralph and especially Simon, are kind to the
littluns; others, including Roger and Jack, are cruel to them. In
short, two conceptions of power emerge on the island, corresponding
to the novel&rsquo;s philosophical poles&mdash;civilization and savagery. Simon, Ralph,
and Piggy represent the idea that power should be used for the good
of the group and the protection of the littluns&mdash;a stance representing
the instinct toward civilization, order, and morality. Roger and
Jack represent the idea that power should enable those who hold
it to gratify their own desires and act on their impulses, treating
the littluns as servants or objects for their own amusement&mdash;a stance
representing the instinct toward savagery.</p>
<p>As the tension between Ralph and Jack increases, we see
more obvious signs of a potential struggle for power. Although Jack
has been deeply envious of Ralph&rsquo;s power from the moment Ralph was elected,
the two do not come into open conflict until this chapter, when
Jack&rsquo;s irresponsibility leads to the failure of the signal fire. When
the fire&mdash;a symbol of the boys&rsquo; connection to civilization&mdash;goes out,
the boys&rsquo; first chance of being rescued is thwarted. Ralph flies
into a rage, indicating that he is still governed by desire to achieve
the good of the whole group. But Jack, having just killed a pig,
is too excited by his success to care very much about the missed chance
to escape the island. Indeed, Jack&rsquo;s bloodlust and thirst for power
have overwhelmed his interest in civilization. Whereas he previously
justified his commitment to hunting by claiming that it was for
the good of the group, now he no longer feels the need to justify
his behavior at all. Instead, he indicates his new orientation toward
savagery by painting his face like a barbarian, leading wild chants
among the hunters, and apologizing for his failure to maintain the
signal fire only when Ralph seems ready to fight him over it.</p>
<div class="floatingad"><script language="JavaScript"><!--
DisplayAds("Top,Right,x01,Middle,Middle2!Middle2");
//--></script></div>
                <p>The extent to which the strong boys bully the weak mirrors
the extent to which the island civilization disintegrates. Since
the beginning, the boys have bullied the whiny, intellectual Piggy
whenever they needed to feel powerful and important. Now, however,
their harassment of Piggy intensifies, and Jack begins to hit him
openly. Indeed, despite his position of power and responsibility
in the group, Jack shows no qualms about abusing the other boys
physically. Some of the other hunters, especially Roger, seem even
crueler and less governed by moral impulses. The civilized Ralph,
meanwhile, is unable to understand this impulsive and cruel behavior,
for he simply cannot conceive of how physical bullying creates a
self-gratifying sense of power. The boys&rsquo; failure to understand
each other&rsquo;s points of view creates a gulf between them&mdash;one that
widens as resentment and open hostility set in.</p>
            

</body>
</html>
