<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Chapter 11</title>
<link rel="stylesheet" href="styles.css" type="text/css">
</head>

<body>
            <h3 class="innerUnderlined">Chapter 11</h3>

                <h4>Summary</h4>
<p>The next morning, Ralph and his few companions try to
light the fire in the cold air, but the attempt is hopeless without
Piggy&rsquo;s glasses. Piggy, squinting and barely able to see, suggests
that Ralph hold a meeting to discuss their options. Ralph blows
the conch shell, and the boys who have not gone to join Jack&rsquo;s tribe
assemble on the beach. They decide that their only choice is to
travel to the Castle Rock to make Jack and his followers see reason.</p>
<div class="floatingad"><script language="JavaScript"><!--
DisplayAds("Top,Right,x01,Middle!Middle");
//--></script></div>
                <p>Ralph decides to take the conch shell to the Castle Rock,
hoping that it will remind Jack&rsquo;s followers of his former authority.
Once at Jack&rsquo;s camp, however, Ralph&rsquo;s group encounters armed guards. Ralph
blows the conch shell, but the guards tell them to leave and throw
stones at them, aiming to miss. Suddenly, Jack and a group of hunters
emerge from the forest, dragging a dead pig. Jack and Ralph immediately
face off. Jack commands Ralph to leave his camp, and Ralph demands
that Jack return Piggy&rsquo;s glasses. Jack attacks Ralph, and they fight.
Ralph struggles to make Jack understand the importance of the signal
fire to any hope the boys might have of ever being rescued, but
Jack orders his hunters to capture Sam and Eric and tie them up.
This sends Ralph into a fury, and he lunges at Jack.</p>
<p>Ralph and Jack fight for a second time. Piggy cries out
shrilly, struggling to make himself heard over the brawl. As Piggy
tries to speak, hoping to remind the group of the importance of
rules and rescue, Roger shoves a massive rock down the mountainside.
Ralph, who hears the rock falling, dives and dodges it. But the
boulder strikes Piggy, shatters the conch shell he is holding, and
knocks him off the mountainside to his death on the rocks below.
Jack throws his spear at Ralph, and the other boys quickly join
in. Ralph escapes into the jungle, and Roger and Jack begin to torture
Sam and Eric, forcing them to submit to Jack&rsquo;s authority and join
his tribe.</p>
            

                <h4>Analysis</h4>
<p>In the chaos that ensues when Ralph&rsquo;s and Jack&rsquo;s camps come
into direct conflict, two important symbols in the novel&mdash;the conch
shell and the Lord of the Flies&mdash;are destroyed. Roger, the character
least able to understand the civilizing impulse, crushes the conch
shell as he looses the boulder and kills Piggy, the character least
able to understand the savage impulse. As we see in the next chapter,
Ralph, the boy most closely associated with civilization and order,
destroys the Lord of the Flies, the governing totem of the dark
impulses within each individual. With Piggy&rsquo;s death and Sam and
Eric&rsquo;s forced conversion to Jack&rsquo;s tribe, Ralph is left alone on
the island, doomed to defeat by the forces of bloodlust and primal
chaos.</p>
<p>Appropriately, Ralph&rsquo;s defeat comes in the form of the
hunt, which has been closely associated with the savage instinct
throughout <i>Lord of the Flies</i>. Ironically, although
hunting is necessary to the survival of the group&mdash;there is little
other food on the island aside from fruit, which has made many of
the boys sick&mdash;it is also what drives them into deadly barbarism.
From the beginning of the novel, the hunters have been the ones
who have pioneered the way into the realm of savagery and violence.
Furthermore, the conflict between Ralph and Jack has often manifested
itself as the conflict between the interests of the hunters and
the interests of the rest of the group. In Chapter <span class="small-caps">3</span>,
for instance, the boys argue over whether Jack&rsquo;s followers should
be allowed to hunt or forced to build huts with Ralph and Simon.
Now that Jack and the forces of savagery have risen to unchallenged
prominence on the island, the hunt has thoroughly won out over the
more peaceful civilizing instinct. Rather than successfully mitigate
the power of the hunt with the rules and structures of civilization,
Ralph becomes a victim of the savage forces the hunt represents&mdash;he
has literally become the prey.</p>
            

</body>
</html>
