<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Chapter 7</title>
<link rel="stylesheet" href="styles.css" type="text/css">
</head>

<body>
            <h3 class="innerUnderlined">Chapter 7</h3>

                <h4>Summary</h4>
<p>The boys stop to eat as they travel toward
the mountain. Ralph gazes disconsolately at the choppy ocean and
muses on the fact that the boys have become slovenly and undisciplined.
As he looks out at the vast expanse of water, he feels that the
ocean is like an impenetrable wall blocking any hope the boys have
of escaping the island. Simon, however, lifts Ralph&rsquo;s spirits by
reassuring him that he will make it home.</p>
<div class="floatingad"><script language="JavaScript"><!--
DisplayAds("Top,Right,x01,Middle,Middle2!Middle");
//--></script></div>
                <p>That afternoon, the hunters find pig droppings,
and Jack suggests they hunt the pig while they continue to search
for the beast. The boys agree and quickly track a large boar, which
leads them on a wild chase. Ralph, who has never been on a hunt
before, quickly gets caught up in the exhilaration of the chase.
He excitedly flings his spear at the boar, and though it glances
off the animal&rsquo;s snout, Ralph is thrilled with his marksmanship nonetheless.
Jack holds up his bloodied arm, which he claims the boar grazed
with its tusks.</p>
<p>Although the boar escapes, the boys remain
in a frenzy in the aftermath of the hunt. Excited, they reenact
the chase among themselves with a boy named Robert playing the boar.
They dance, chant, and jab Robert with their spears, eventually
losing sight of the fact that they are only playing a game. Beaten
and in danger, Robert tries to drag himself away. The group nearly
kills Robert before they remember themselves. When Robert suggests that
they use a real boar in the game next time, Jack replies that they
should use a littlun instead. The boys laugh, delighted and stirred
up by Jack&rsquo;s audacity. Ralph tries to remind everyone that they
were only playing a game. Simon volunteers to return to the beach
to tell Piggy and the littluns that the group will not return until
late that night.</p>
<p>Darkness falls, and Ralph proposes that they wait until
morning to climb the mountain because it will be difficult to hunt
the monster at night. Jack challenges Ralph to join the
hunt, and Ralph finally agrees to go simply to regain his position
in the eyes of the group. Ralph, Roger, and Jack start to climb
the mountain, and then Ralph and Roger wait somewhere near the top
while Jack climbs alone to the summit. He
returns, breathlessly claiming to have seen the monster. Ralph and
Roger climb up to have a look and see a terrifying specter, a large,
shadowy form with the shape of a giant ape, making a strange flapping
sound in the wind. Horrified, the boys hurry down the mountain to
warn the group.</p>
            

                <h4>Analysis</h4>
<p>The boar hunt and the game the boys play afterward
provide stark reminders of the power of the human instinct toward
savagery. Before this point in the novel, Ralph has been largely
baffled about why the other boys were more concerned with hunting,
dancing, bullying, and feasting than with building huts, maintaining
the signal fire, and trying to be rescued. But when he joins the
boar hunt in this chapter, Ralph is unable to avoid the instinctive
excitement of the hunt and gets caught up in the other boys&rsquo; bloodlust.
In this scene, Golding implies that every individual, however strong
his or her instinct toward civilization and order, has an undeniable,
innate drive toward savagery as well. After the hunt, the boys&rsquo;
reenactment of the chase provides a further reminder of the inextricable
connection between the thrill of the hunt and the desire for power.
Robert, the boy who stands in for the boar in the reenactment, is
nearly killed as the other boys again get caught up in their excitement
and lose sight of the limits of the game in their mad desire to
kill. Afterward, when Jack suggests killing a littlun in place of
a pig, the group laughs. At this point, probably none of them&mdash;except
possibly Jack and Roger&mdash;would go so far as to actually carry out
such a plan. Nonetheless, the fact that the boys find the possibility
exciting rather than horrifying is rather unsettling.</p>
<p>By this point, the conflict between Ralph and Jack has
escalated to a real struggle for power, as Jack&rsquo;s brand of violence
and savagery almost completely replaces Ralph&rsquo;s disciplined community
in the boys&rsquo; conception of their lives on the island. Ralph&rsquo;s
exhilaration in the hunt and his participation in the ritual that
nearly kills Robert is, in a sense, a major victory for Jack, for
the experience shakes Ralph&rsquo;s confidence in his own instinct toward
morality and order. As befits a power struggle
in a savage group, the conflict between Ralph and Jack manifests
itself not as a competition to prove who would be the better leader
but instead as a competition of sheer strength and courage. Just
as Ralph boldly climbed the hill alone to prove his bravery in the
previous chapter, Jack goes up the mountain alone now. It is also
significant that Ralph discovers nothing, while Jack discovers what
he thinks is the beast: while Ralph does not believe in the beast,
the beast constitutes a major part of Jack&rsquo;s picture of life on
the island.</p>
<div class="floatingad"><script language="JavaScript"><!--
DisplayAds("Top,Right,x01,Middle,Middle2!Middle2");
//--></script></div>
                <p>Jack increases his leverage within the group by goading
Ralph into acting rashly and unwisely, against his tendency toward
levelheadedness&mdash;a manipulation that weakens Ralph&rsquo;s position in
the group. Although Ralph realizes that it is foolish to hunt the
beast at night, he knows that, in a society that values strength,
he cannot risk appearing to be a coward. As a result, he assents
to going up the mountainside at night. Ultimately, Ralph&rsquo;s decision
to explore the mountain at night costs him the opportunity to prove
to the others that Sam and Eric did not see the beast: had the boys
climbed the mountain in the daylight as Ralph wished, they would
have seen the dead parachutist for what it was. Because they go
at night, however, they see the parachutist distorted by shadows
and believe it to be the beast. In a sense, the degree to which
each boy is prone to see the beast mirrors the degree to which he
gives in to his instinct toward savagery. This connection emphasizes
the idea that the beast is a symbolic manifestation of the boys&rsquo;
primitive inner instincts.</p>
            

</body>
</html>
