<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Chapter 9</title>
<link rel="stylesheet" href="styles.css" type="text/css">
</head>

<body>
            <h3 class="innerUnderlined">Chapter 9</h3>

                <h4>Summary</h4>
<p>Simon awakens and finds the air dark and humid with an
approaching storm. His nose is bleeding, and he staggers toward
the mountain in a daze. He crawls up the hill and, in the failing
light, sees the dead pilot with his flapping parachute. Watching
the parachute rise and fall with the wind, Simon realizes that the
boys have mistaken this harmless object for the deadly beast that
has plunged their entire group into chaos. When Simon sees the corpse
of the parachutist, he begins to vomit. When he is finished, he
untangles the parachute lines, freeing the parachute from the rocks.
Anxious to prove to the group that the beast is not real after all,
Simon stumbles toward the distant light of the fire at Jack&rsquo;s feast
to tell the other boys what he has seen.</p>
<div class="floatingad"><script language="JavaScript"><!--
DisplayAds("Top,Right,x01,Middle,Middle2!Middle");
//--></script></div>
                <p>Piggy and Ralph go to the feast with the hopes that they
will be able to keep some control over events. At the feast, the
boys are laughing and eating the roasted pig. Jack sits like a king
on a throne, his face painted like a savage, languidly issuing commands,
and waited on by boys acting as his servants. After the large meal,
Jack extends an invitation to all of Ralph&rsquo;s followers to join his
tribe. Most of them accept, despite Ralph&rsquo;s attempts to dissuade
them. As it starts to rain, Ralph asks Jack how he plans to weather
the storm considering he has not built any shelters. In response,
Jack orders his tribe to do its wild hunting dance.</p>
<p>Chanting and dancing in several separate circles along
the beach, the boys are caught up in a kind of frenzy. Even Ralph
and Piggy, swept away by the excitement, dance on the fringes of
the group. The boys again reenact the hunting of the
pig and reach a high pitch of frenzied energy as they chant and
dance. Suddenly, the boys see a shadowy figure creep out of the
forest&mdash;it is Simon. In their wild state, however, the boys do not
recognize him. Shouting that he is the beast, the boys descend upon
Simon and start to tear him apart with their bare hands and teeth.
Simon tries desperately to explain what has happened and to remind
them of who he is, but he trips and plunges over the rocks onto
the beach. The boys fall on him violently and kill him.</p>
<p>The storm explodes over the island. In the whipping rain,
the boys run for shelter. Howling wind and waves wash Simon&rsquo;s mangled
corpse into the ocean, where it drifts away, surrounded by glowing
fish. At the same time, the wind blows the body of the parachutist
off the side of the mountain and onto the beach, sending the boys
screaming into the darkness.</p>
            

                <h4>Analysis</h4>
<p>With the brutal, animalistic murder of Simon, the last
vestige of civilized order on the island is stripped away, and brutality
and chaos take over. By this point, the boys in Jack&rsquo;s camp are
all but inhuman savages, and Ralph&rsquo;s few remaining allies suffer
dwindling spirits and consider joining Jack. Even Ralph and Piggy
themselves get swept up in the ritual dance around Jack&rsquo;s banquet
fire. The storm that batters the island after Simon&rsquo;s death pounds
home the catastrophe of the murder and physically embodies the chaos
and anarchy that have overtaken the island. Significantly, the storm
also washes away the bodies of Simon and the parachutist, eradicating proof
that the beast does not exist.</p>
<p>Jack makes the beast into a godlike figure, a kind of
totem he uses to rule and manipulate the members of his tribe. He
attributes to the beast both immortality and the power to change
form, making it an enemy to be feared and an idol to be worshiped. The
importance of the figure of the beast in the novel cannot be overstated,
for it gives Jack&rsquo;s tribe a common enemy (the beast), a common system of
belief (their conviction that the mythical beast exists), a reason to
obey Jack (protection from the beast), and even a developing system
of primitive symbolism and iconography (face paint and the Lord
of the Flies).</p>
<div class="floatingad"><script language="JavaScript"><!--
DisplayAds("Top,Right,x01,Middle,Middle2!Middle2");
//--></script></div>
                <p>In a sense, Simon&rsquo;s murder is an almost inevitable
outcome of his encounter with the Lord of the Flies in Chapter <span class="small-caps">8</span>.
During the confrontation in the previous chapter, the Lord of the
Flies foreshadows Simon&rsquo;s death by promising to have some &ldquo;fun&rdquo;
with him. Although Simon&rsquo;s vision teaches him that the beast exists inside
all human beings, his confrontation with the beast is not complete
until he comes face-to-face with the beast that exists within the
other boys. Indeed, when the boys kill Simon, they are acting on
the savage instinct that the beast represents. Additionally, the
manner of Simon&rsquo;s death continues the parallels between Simon and
Jesus: both die sacrificial deaths after learning profound truths
about human morality. But Simon&rsquo;s death differs from Jesus&rsquo; in ways
that complicate the idea that Simon is simply a Christ figure. Although
Jesus and Simon both die sacrificial deaths, Jesus was killed for
his beliefs, whereas Simon is killed because of the other boys&rsquo;
delusions. Jesus died after conveying his message to the world,
whereas Simon dies before he is able to speak to the boys. In the
biblical tradition, Jesus dies to alleviate the burden of mankind&rsquo;s
sin; Simon&rsquo;s death, on the other hand, simply intensifies the burden
of sin pressing down upon the island. According to the Bible, Jesus&rsquo;
death shows others the way to salvation; Simon&rsquo;s death exemplifies
the power of evil within the human soul.</p>
            

</body>
</html>
