<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Chapter 10</title>
<link rel="stylesheet" href="styles.css" type="text/css">
</head>

<body>
            <h3 class="innerUnderlined">Chapter 10</h3>

                <h4>Summary</h4>
<p>The next morning, Ralph and Piggy meet on the
beach. They are bruised and sore and feel awkward and deeply ashamed
of their behavior the previous night. Piggy, who is unable to confront
his role in Simon&rsquo;s death, attributes the tragedy to mere accident.
But Ralph, clutching the conch desperately and laughing hysterically, insists
that they have been participants in a murder. Piggy whiningly denies
the charge. The two are now virtually alone; everyone except Sam
and Eric and a handful of littluns has joined Jack&rsquo;s tribe, which
is now headquartered at the Castle Rock, the mountain on the island.</p>
<div class="floatingad"><script language="JavaScript"><!--
DisplayAds("Top,Right,x01,Middle!Middle");
//--></script></div>
                <p>At the Castle Rock, Jack rules with absolute power. Boys
are punished for no apparent reason. Jack ties up and beats a boy named
Wilfred and then warns the boys against Ralph and his small group,
saying that they are a danger to the tribe. The entire tribe, including
Jack, seems to believe that Simon really was the beast, and that
the beast is capable of assuming any disguise. Jack states that they
must continue to guard against the beast, for it is never truly dead.
He says that he and two other hunters, Maurice and Roger, should
raid Ralph&rsquo;s camp to obtain more fire and that they will hunt again
tomorrow.</p>
<p>The boys at Ralph&rsquo;s camp drift off to sleep, depressed
and losing interest in the signal fire. Ralph sleeps fitfully, plagued
by nightmares. They are awakened by howling and shrieking and are
suddenly attacked by a group of Jack&rsquo;s hunters. The hunters badly
beat Ralph and his companions, who do not even know why they were assaulted,
for they gladly would have shared the fire with the other boys.
But Piggy knows why, for the hunters have stolen his glasses, and
with them, the power to make fire.</p>
            

                <h4>Analysis</h4>
<p>In the period of relative calm following Simon&rsquo;s murder,
we see that the power dynamic on the island has shifted completely
to Jack&rsquo;s camp. The situation that has been slowly brewing now comes
to a full boil: Jack&rsquo;s power over the island is complete, and Ralph
is left an outcast, subject to Jack&rsquo;s whims. As civilization and
order have eroded among the boys, so has Ralph&rsquo;s power and influence,
to the extent that none of the boys protests when Jack declares
him an enemy of the tribe. As Jack&rsquo;s power&nbsp;reaches its high point,
the figures of the beast and the Lord of the Flies attain prominence.
Similarly, as Ralph&rsquo;s power reaches its low point, the influence
and importance of other symbols in the novel&mdash;such as the conch shell and
Piggy&rsquo;s glasses&mdash;decline as well. As Ralph and Piggy discuss Simon&rsquo;s
murder the following morning, Ralph clutches the conch shell to
him for solace, but the once-potent symbol of order and civilization
is now useless. Here, Ralph clings to it as a vestige of civilization,
but with its symbolic power fading, the conch shell is merely an
object. Like the signal&nbsp;fire, it can no longer give Ralph comfort. Piggy&rsquo;s
glasses, the other major symbol of civilization, have fallen into
Jack&rsquo;s hands.&nbsp;Jack&rsquo;s new control of the ability to make fire emphasizes
his&nbsp;power over the island and the demise of the boys&rsquo; hopes of being
rescued.</p>
<p>We learn a great deal about the different boys&rsquo; characters through
their varying reactions to Simon&rsquo;s death. Piggy, who is used to
being right because of his sharp intellect, finds it impossible
to accept any guilt for what happened. Instead, he sets his mind
to rationalizing his role in the affair. Ralph refuses to accept
Piggy&rsquo;s easy rationalization that Simon&rsquo;s death was accidental and
insists that the death was a murder. Yet the word <i>murder, </i>a term associated with the rational system of law and a civilized
moral code, now seems strangely at odds with the collective madness
of the killing. The foreignness of the word in the context of the
savagery on the island reminds us how far the boys have traveled
along the moral spectrum since the time when they were forced to
follow the rules of adults.</p>
<p>Jack, for his part, has become an expert in using the
boys&rsquo; fear of the beast to enhance his own power. He claims that
Simon really was the beast, implying that the boys have a better
grasp of the truth in their frenzied bloodlust than in their calmer
moments of reflection. This conclusion is not surprising coming
from Jack, who seems almost addicted to that state of bloodlust
and frenzy. Jack&rsquo;s ability to convince the other boys that the state
of bloodlust is a valid way of interacting with the world erodes
their sense of morality even further and enables Jack to manipulate
them even more.</p>
            

</body>
</html>
