<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Chapter 8</title>
<link rel="stylesheet" href="styles.css" type="text/css">
</head>

<body>
            <h3 class="innerUnderlined">Chapter 8</h3>
<blockquote class="quotation">
                <p>&ldquo;There isn&rsquo;t anyone to help you. Only
me. And I&rsquo;m the Beast. . . . Fancy thinking the Beast was something
you could hunt and kill!&rdquo;</p>
<p align="right" class="attribution">(See <a href="quotes.html#CHDBDEFH">Important Quotations Explained</a>)</p>
            </blockquote>

                <h4>Summary</h4>
<p>The next morning, the news of the monster has the boys
in a state of uproar as they gather on the beach. Piggy, who was
not on the mountain the night before, is baffled by the other boys&rsquo;
claims to have seen the monster. Jack seizes the conch shell and
blows into it clumsily, calling for an assembly. Jack tells the
others that there is definitely a beast on the mountain and goes
on to claim that Ralph is a coward who should be removed from his
leadership role. The other boys, however, refuse to vote Ralph out
of power. Enraged, Jack storms away from the group, saying that
he is leaving and that anyone who likes is welcome to join him.</p>
<div class="floatingad"><script language="JavaScript"><!--
DisplayAds("Top,Right,x01,Middle,Middle2!Middle");
//--></script></div>
                <p>Deeply troubled, Ralph does not know what to do. Piggy,
meanwhile, is thrilled to see Jack go, and Simon suggests that they
all return to the mountain to search for the beast. The other boys
are too afraid to act on his suggestion, however. Ralph slips into
a depression, but Piggy cheers him up with an idea: they should
build a new signal fire, on the beach rather than on the mountain.
Piggy&rsquo;s idea restores Ralph&rsquo;s hope that they will be rescued. The
boys set to work and build a new fire, but many of them sneak away
into the night to join Jack&rsquo;s group. Piggy tries to convince Ralph
that they are better off without the deserters.</p>
<p>Along another stretch of sand, Jack gathers his new tribe
and declares himself the chief. In a savage frenzy, the hunters
kill a sow, and Roger drives his spear forcefully into the sow&rsquo;s
anus. Then the boys leave the sow&rsquo;s head on a sharpened stake in
the jungle as an offering to the beast. As they place the head upright
in the forest, the black blood drips down the sow&rsquo;s teeth, and the
boys run away.</p>
<p>As Piggy and Ralph sit in the old camp discussing the
deserters, the hunters from Jack&rsquo;s tribe descend upon them, shrieking
and whooping. The hunters steal burning sticks from the fire on
the beach. Jack tells Ralph&rsquo;s followers that they are welcome to
come to his feast that night and even to join his tribe. The hungry
boys are tempted by the idea of pig&rsquo;s meat.</p>
<p>Just before Jack&rsquo;s tribe raids the beach, Simon slips
away from the camp and returns to the jungle glade where he previously
sat marveling at the beauty of nature. Now, however, he finds the
sow&rsquo;s head impaled on the stake in the middle of the clearing. Simon
sits alone in the clearing, staring with rapt attention at the impaled
pig&rsquo;s head, which is now swarming with flies. The sight mesmerizes
him, and it even seems as if the head comes to life. The head speaks
to Simon in the voice of the &ldquo;Lord of the Flies,&rdquo; ominously declaring that
Simon will never be able to escape him, for he lies within all human
beings. He also promises to have some &ldquo;fun&rdquo; with Simon. Terrified
and troubled by the apparition, Simon collapses in a faint.</p>
            

                <h4>Analysis</h4>
<p>The excitement the boys felt when Jack suggests killing
a littlun in Chapter <span class="small-caps">7</span> comes to grotesque fruition in Chapter <span class="small-caps">8</span>,
during the vicious and bloody hunt following Jack&rsquo;s rise to power
and formation of his new tribe. Jack&rsquo;s ascent arises directly from
the supposed confirmation of the existence of the beast. Once the
boys, having mistaken the dead parachutist for a monster, come to
believe fully in the existence of the beast, all the remaining power
of civilization and culture on the island diminishes rapidly. In
a world where the beast is real, rules and morals become weak and
utterly dispensable. The original democracy Ralph leads devolves
into a cult-like totalitarianism, with Jack as a tyrant and the
beast as both an enemy and a revered god. We see the depth of the
boys&rsquo; growing devotion to the idea of the beast in their impalement
of the sow&rsquo;s head on the stake as an offering to the beast. No longer
simply a childish nightmare, the beast assumes a primal, religious
importance in the boys&rsquo; lives. Jack uses the beast ingeniously to
rule his savage kingdom, and each important character in <i>Lord
of the Flies</i> struggle to come to terms with the beast.
Piggy, who remains steadfastly scientific and rational at this point
in the novel, is simply baffled and disgusted. Ralph, who has seen
what he thinks is the beast, is listless and depressed, unsure of
how to reconcile his civilized ideals with the sight he saw on the
mountaintop. But the most complex reaction of all comes from one
of the novel&rsquo;s most complex characters&mdash;Simon.</p>
<div class="floatingad"><script language="JavaScript"><!--
DisplayAds("Top,Right,x01,Middle,Middle2!Middle2");
//--></script></div>
                <p>Simon&rsquo;s confrontation with the Lord of the
Flies&mdash;the sow&rsquo;s head impaled on a stake in the forest glade&mdash;is arguably
the most important scene in the novel, and one that has attracted
the most attention from critics. Some critics have interpreted the
scene as a retelling of Jesus&rsquo; confrontation with Satan during his
forty days in the wilderness, a story originally told in the Gospels
of the New Testament. Indeed, many critics have described Simon as
a Christ figure, for he has a mystical connection to the environment,
possesses a saintly and selfless disposition, and meets a tragic
and sacrificial death. Others tie the scene into a larger Freudian
reading of <i>Lord of the Flies, </i>claiming that its
symbols correspond exactly to the elements of the Freudian unconscious (with
Jack as the id, Ralph as the ego, and Piggy as the superego). <i>Lord
of the Flies</i> may indeed support these and a number of other readings,
not necessarily at the exclusion of one another.</p>
<p>Indeed, many differences between Simon and Jesus complicate the
comparison between the two and prevent us from seeing Simon as a
straightforward Christ figure. Simon, unlike Jesus, is not a supernatural
being, and none of the boys could possibly find salvation from the
Lord of the Flies through faith in Simon. Rather, Simon&rsquo;s terror
and fainting spell indicate the horrific, persuasive power of the
instinct for chaos and savagery that the Lord of the Flies represents.
Simon has a deep human insight in the glade, for he realizes that
it is not a real, physical beast that inspires the hunters&rsquo; behavior
but rather the barbaric instinct that lies deep within each of them.
Fearing that this instinct lies embedded within himself as well,
Simon seems to hear the Lord of the Flies speaking with him, threatening
him with what he fears the most. Unable to stand the sight any longer,
Simon collapses into a very human faint.</p>
<p>In all, Simon is a complex figure who does not fit neatly
into the matrix framed by Jack at the one end and Ralph at the other.
Simon is kindhearted and firmly on the side of order and civilization,
but he is also intrigued by the idea of the beast and feels a deep
connection with nature and the wilderness on the island. Whereas
Jack and Roger connect with the wilderness on a level that plunges
them into primal lust and violence, Simon finds it a source of mystical
comfort and joy. Simon&rsquo;s closeness with nature and his unwaveringly
kind nature throughout the novel make him the only character who
does not feel morality as an artificial imposition of society. Instead,
we sense that Simon&rsquo;s morality and goodness are a way of life that
proceeds directly and easily from nature. <i>Lord
of the Flies</i> is deeply preoccupied with the problem of
fundamental, natural human evil&mdash;amid which Simon is the sole figure
of fundamental, natural good. In a wholly nonreligious way, Simon
complicates the philosophical statement the novel makes about human
beings, for he represents a completely separate alternative to the
spectrum between civilization and savagery of which Ralph and Jack are
a part. In the end, Simon is both natural and good in a world where
such a combination seems impossible.</p>
            

</body>
</html>
