<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Chapter 12</title>
<link rel="stylesheet" href="styles.css" type="text/css">
</head>

<body>
            <h3 class="innerUnderlined">Chapter 12</h3>
<blockquote class="quotation">
                <p>Ralph wept for the end of innocence,
the darkness of man&rsquo;s heart, and the fall through the air of a true,
wise friend called Piggy.</p>
<p align="right" class="attribution">(See <a href="quotes.html#CHDGGAJI">Important Quotations Explained</a>)</p>
            </blockquote>

                <h4>Summary</h4>
<p>Ralph hides in the jungle and thinks miserably about the
chaos that has overrun the island. He thinks about the deaths of
Simon and Piggy and realizes that all vestiges of civilization have
been stripped from the island. He stumbles across the sow&rsquo;s head,
the Lord of the Flies, now merely a gleaming white skull&mdash;as white
as the conch shell, he notes. Angry and disgusted, Ralph knocks
the skull to the ground and takes the stake it was impaled on to
use as a weapon against Jack.</p>
<div class="floatingad"><script language="JavaScript"><!--
DisplayAds("Top,Right,x01,Middle!Middle");
//--></script></div>
                <p>That night, Ralph sneaks down to the camp at the Castle
Rock and finds Sam and Eric guarding the entrance. The twins give
him food but refuse to join him. They tell him that Jack plans to
send the entire tribe after him the next day. Ralph hides in a thicket
and falls asleep. In the morning, he hears Jack talking and torturing
one of the twins to find out where Ralph is hiding. Several boys
try to break into the thicket by rolling a boulder, but the thicket
is too dense. A group of boys tries to fight their way into the
thicket, but Ralph fends them off. Then Ralph smells smoke and realizes
that Jack has set the jungle on fire in order to smoke him out.
Ralph abandons his hiding place and fights his way past Jack and
a group of his hunters. Chased by a group of body-painted warrior-boys
wielding sharp wooden spears, Ralph plunges frantically through
the undergrowth, looking for a place to hide. At last, he ends up
on the beach, where he collapses in exhaustion, his pursuers close
behind.</p>
<p>Suddenly, Ralph looks up to see a naval officer standing
over him. The officer tells the boy that his ship has come to the
island after seeing the blazing fire in the jungle. Jack&rsquo;s hunters
reach the beach and stop in their tracks upon seeing the officer.
The officer matter-of-factly assumes the boys are up to, as he puts
it, &ldquo;fun and games.&rdquo; When he learns what has happened on the island,
the officer is reproachful: how could this group of boys, he asks&mdash;and English
boys at that&mdash;have lost all reverence for the rules of civilization
in so short a time? For his part, Ralph is overwhelmed by the knowledge
that he has been rescued, that he will escape the island after coming
so close to a violent death. He begins to sob, as do the other boys.
Moved and embarrassed, the naval officer turns his back so that
the boys may regain their composure.</p>
            

                <h4>Analysis</h4>
<p>After Ralph&rsquo;s tense, exciting stand against the hunters,
the ending of <i>Lord of the Flies</i> is rife with irony.
Ralph had thought the signal fire&mdash;a symbol of civilization&mdash;was the
only way to lure rescuers to the island. Ironically, although it
is indeed a fire that lures a ship to the island, it is not an ordered,
controlled signal fire but rather the haphazard forest fire Jack&rsquo;s
hunters set solely for the purpose of killing Ralph. As we have
seen, Ralph has worked tirelessly to retain the structure of civilization
and maximize the boys&rsquo; chances of being rescued. Now, when all he
can do is struggle to stay alive as long as possible, a deus ex
machina (an improbable or unexpected device or character that suddenly
appears to resolve a situation) appears, at the last possible moment,
in the form of the naval officer who brings the boys back to the
world of law, order, and society. Golding&rsquo;s use of irony in the
last chapter blurs the boundary between civilization and savagery
and implies that the two are more closely connected than the story
has illustrated. Ultimately, the boys&rsquo; appalling savagery brings
about the rescue that their coordinated and purposeful efforts were
unable to achieve.</p>
<p>Much of the irony at the end of the novel stems from Golding&rsquo;s portrayal
of the naval officer. Although the naval officer saves Ralph, the
ending of <i>Lord of the Flies</i> still is not particularly
happy, and the moment in which the officer encounters the boys is
not one of untainted joy. The officer says that he is
unable to understand how upstanding British lads could have acted
with such poor form. Ironically, though, this &ldquo;civilized&rdquo; officer
is himself part of an adult world in which violence and war go hand
in hand with civilization and social order. He reacts to the savage
children with disgust, yet this disgust is tinged with hypocrisy.
Similarly, the children are so shocked by the officer&rsquo;s presence,
and are now psychologically so far removed from his world, that
they do not instantly celebrate his arrival. Rather, they stand
before him baffled and bewildered. Even Ralph, whose life has literally
been saved by the presence of the ship, weeps tears of grief rather
than joy. For Ralph, as for the other boys, nothing can ever be
as it was before coming to the island of the Lord of the Flies.</p>
<p></p>
            

</body>
</html>
