<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Chapter 6</title>
<link rel="stylesheet" href="styles.css" type="text/css">
</head>

<body>
            <h3 class="innerUnderlined">Chapter 6</h3>

                <h4>Summary</h4>
<p>In the darkness late that night, Ralph and Simon carry
a littlun back to the shelter before going to sleep. As the boys
sleep, military airplanes battle fiercely above the island. None
of the boys sees the explosions and flashes in the clouds because
the twins Sam and Eric, who were supposed to watch the signal fire,
have fallen asleep. During the battle, a parachutist drifts down
from the sky onto the island, dead. His chute becomes tangled in
some rocks and flaps in the wind, while his shape casts fearful
shadows on the ground. His head seems to rise and fall as the wind
blows.</p>
<div class="floatingad"><script language="JavaScript"><!--
DisplayAds("Top,Right,x01,Middle!Middle");
//--></script></div>
                <p>When Sam and Eric wake up, they tend to the
fire to make the flames brighter. In the flickering firelight, they
see the twisted form of the dead parachutist and mistake the shadowy
image for the figure of the dreaded beast. They rush back to the
camp, wake Ralph, and tell him what they have seen. Ralph immediately
calls for a meeting, at which the twins reiterate their claim that
a monster assaulted them. The boys, electrified and horrified by
the twins&rsquo; claims, organize an expedition to search the island for monsters.
They set out, armed with wooden spears, and only Piggy and the littluns
remain behind.</p>
<p>Ralph allows Jack to lead the search as the group sets
out. The boys soon reach a part of the island that none of them
has ever explored before&mdash;a thin walkway that leads to a hill dotted
with small caves. The boys are afraid to go across the walkway and around
the ledge of the hill, so Ralph goes to investigate alone. He finds
that, although he was frightened when with the other boys, he quickly
regains his confidence when he explores on his own. Soon, Jack joins
Ralph in the cave.</p>
<p>The group climbs the hill, and Ralph and Jack feel the
old bond between them rekindling. The other boys begin to play games,
pushing rocks into the sea, and many of them lose sight of the purpose
of their expedition. Ralph angrily reminds them that they are looking for
the beast and says that they must return to the other mountain so that
they can rebuild the signal fire. The other boys, lost in whimsical
plans to build a fort and do other things on the new hill, are displeased
by Ralph&rsquo;s commands but grudgingly obey.</p>
            

                <h4>Analysis</h4>
<p>As fear about the beast grips the boys, the balance between
civilization and savagery on the island shifts, and Ralph&rsquo;s control
over the group diminishes. At the beginning of the novel, Ralph&rsquo;s
hold on the other boys is quite secure: they all understand the
need for order and purposive action, even if they do not always
want to be bothered with rules. By this point, however, as the conventions
of civilization begin to erode among the boys, Ralph&rsquo;s hold on them
slips, while Jack becomes a more powerful and menacing figure in
the camp. In Chapter <span class="small-caps">5</span>, Ralph&rsquo;s attempt to
reason with the boys is ineffective; by Chapter <span class="small-caps">6</span>,
Jack is able to manipulate Ralph by asking him, in front of the
other boys, whether he is frightened. This question forces Ralph
to act irrationally simply for the sake of preserving his status among
the other boys. This breakdown in the group&rsquo;s desire for morality,
order, and civilization is increasingly enabled&mdash;or excused&mdash;by the
presence of the monster, the beast that has frightened the littluns
since the beginning of the novel and that is quickly assuming an
almost religious significance in the camp.</p>
<p>The air battle and dead parachutist remind
us of the larger setting of <i>Lord of the Flies</i>:
though the boys lead an isolated life on the island, we know that
a bloody war is being waged elsewhere in the world&mdash;a war that apparently
is a terrible holocaust. All Golding tells us is that atom bombs
have threatened England in a war against &ldquo;the reds&rdquo; and that the
boys were evacuated just before the impending destruction of their
civilization. The war is also responsible for the boys&rsquo; crash landing
on the island in the first place, because an enemy aircraft gunned
down their transport plane. Although the war remains in the background
of <i>Lord of the Flies, </i>it is nevertheless an important
extension of the main themes of the novel. Just as the boys struggle
with the conflict between civilization and savagery on the island,
the outside world is gripped in a similar conflict. War represents
the savage outbursts of civilization, when the desire for violence
and power overwhelms the desire for order and peace. Even though
the outside world has bestowed upon the boys a sense of morality
and order, the danger of savagery remains real even within the context
of that seemingly civilized society that has nurtured them.</p>
            

</body>
</html>
