<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Chapter 5</title>
<link rel="stylesheet" href="styles.css" type="text/css">
</head>

<body>
            <h3 class="innerUnderlined">Chapter 5</h3>
<blockquote class="quotation">
                <p>&ldquo;What I mean is . . . maybe it&rsquo;s only us.&rdquo;</p>
<p align="right" class="attribution">(See <a href="quotes.html#CHDCGGGB">Important Quotations Explained</a>)</p>
            </blockquote>

                <h4>Summary</h4>
<p>As Ralph walks along the beach, he thinks about how much
of life is an improvisation and about how a considerable part of
one&rsquo;s waking life is spent watching one&rsquo;s feet. Ralph is frustrated
with his hair, which is now long, mangy, and always manages to fall
in front of his eyes. He decides to call a meeting to attempt to
bring the group back into line. Late in the evening, he blows the
conch shell, and the boys gather on the beach.</p>
<div class="floatingad"><script language="JavaScript"><!--
DisplayAds("Top,Right,x01,Middle!Middle");
//--></script></div>
                <p>At the meeting place, Ralph grips the conch shell and
berates the boys for their failure to uphold the group&rsquo;s rules.
They have not done anything required of them: they refuse to work
at building shelters, they do not gather drinking water, they neglect
the signal fire, and they do not even use the designated toilet
area. He restates the importance of the signal fire and attempts
to allay the group&rsquo;s growing fear of beasts and monsters. The littluns,
in particular, are increasingly plagued by nightmare visions. Ralph
says there are no monsters on the island. Jack likewise maintains
that there is no beast, saying that everyone gets frightened and
it is just a matter of putting up with it. Piggy seconds Ralph&rsquo;s
rational claim, but a ripple of fear runs through the group nonetheless.</p>
<p>One of the littluns speaks up and claims that he has actually
seen a beast. When the others press him and ask where it could hide
during the daytime, he suggests that it might come up from the ocean
at night. This previously unthought-of explanation terrifies all
the boys, and the meeting plunges into chaos. Suddenly, Jack proclaims that
if there is a beast, he and his hunters will hunt it down and kill it.
Jack torments Piggy and runs away, and many of the other boys run
after him. Eventually, only Ralph, Piggy, and Simon are left. In the
distance, the hunters who have followed Jack dance and chant.</p>
<p>Piggy urges Ralph to blow the conch shell and
summon the boys back to the group, but Ralph is afraid that the
summons will go ignored and that any vestige of order will then
disintegrate. He tells Piggy and Simon that he might relinquish
leadership of the group, but his friends reassure him that the boys
need his guidance. As the group drifts off to sleep, the sound of
a littlun crying echoes along the beach.</p>
            

                <h4>Analysis</h4>
<p>The boys&rsquo; fear of the beast becomes an increasingly
important aspect of their lives, especially at night, from the moment
the first littlun claims to have seen a snake-monster in Chapter <span class="small-caps">2</span>.
In this chapter, the fear of the beast finally explodes, ruining
Ralph&rsquo;s attempt to restore order to the island and precipitating
the final split between Ralph and Jack. At this point, it remains
uncertain whether or not the beast actually exists. In any case,
the beast serves as one of the most important symbols in the novel,
representing both the terror and the allure of the primordial desires
for violence, power, and savagery that lurk within every human soul. In
keeping with the overall allegorical nature of <i>Lord of the
Flies, </i>the beast can be interpreted in a number of different
lights. In a religious reading, for instance, the beast recalls
the devil; in a Freudian reading, it can represent the id, the instinctual
urges and desires of the human unconscious mind. However we interpret
the beast, the littlun&rsquo;s idea of the monster rising from the sea terrifies
the boys because it represents the beast&rsquo;s emergence from their
own unconscious minds. As Simon realizes later in the
novel, the beast is not necessarily something that exists outside
in the jungle. Rather, it already exists inside each boy&rsquo;s mind
and soul, the capacity for savagery and evil that slowly overwhelms
them.</p>
<p>As the idea of the beast increasingly fills the boys with
dread, Jack and the hunters manipulate the boys&rsquo; fear of the beast
to their own advantage. Jack continues to hint that the beast exists
when he knows that it probably does not&mdash;a manipulation that leaves
the rest of the group fearful and more willing to cede power to
Jack and his hunters, more willing to overlook barbarism on Jack&rsquo;s
part for the sake of maintaining the &ldquo;safety&rdquo; of the group. In this
way, the beast indirectly becomes one of Jack&rsquo;s primary sources
of power. At the same time, Jack effectively enables the boys themselves
to act as the beast&mdash;to express the instinct for savagery that civilization
has previously held in check. Because that instinct is natural and
present within each human being, Golding asserts that we are all
capable of becoming the beast. </p>
            

</body>
</html>
